<div class="p-6">
  <div class="flex flex-row col-span-3 justify-center rounded-full" aria-label="Tabs">
    <button type="button" class=" columns-1 bg-primary group relative z-0 min-w-0 flex-1 overflow-visible rounded-full bg-opacity-30 py-4 px-4 text-center text-sm font-medium text-white">
      <span>Neu</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5"></span>
    </button>
    <button type="button" class="columns-2 bg-primary group relative -left-10 z-10 min-w-0 flex-1 overflow-visible rounded-full py-4 px-4 text-center text-sm font-medium text-white">
      <span>Nah</span>
      <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
    </button>
    <button type="button" class="columns-3 bg-primary group relative -left-20 z-0 min-w-0 flex-1 overflow-visible rounded-full bg-opacity-30 py-4 px-4 text-center text-sm font-medium text-white">
      <span>Gut</span>
      <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
    </button>
  </div>
</div>
