<ion-app>
      <ion-content>
        <ion-router-outlet id="main-content"></ion-router-outlet>
        <nav>
          <a routerLink="home" routerLinkActive="selected">
            <fa-icon icon="house" size="2xl"></fa-icon>
          </a>
          <a routerLink="map" routerLinkActive="selected">
            <fa-icon icon="map-location-dot" size="2xl"></fa-icon>
          </a>
          <a routerLink="camera" routerLinkActive="selected"
            class="primary-button">
              <fa-icon icon="plus" size="2xl"></fa-icon>
          </a>
          <a routerLink="profile" routerLinkActive="selected">
            <fa-icon icon="user" size="2xl"></fa-icon>
          </a>
          <a routerLink="settings" routerLinkActive="selected">
            <fa-icon icon="gear" size="2xl"></fa-icon>
          </a>
        </nav>
      </ion-content>
    
  
</ion-app>
