:root {
  --color-primary: #3e6c4c;
  --color-primary-light: #5e946e;

  --color-filter-water: #65b3f4;
  --color-filter-waste: #569fa2;
  --color-filter-gift: #89c9e7;
  --color-filter-tree: #4b8f4f;
  --color-filter-shop: #d5d446;
}
