:root {
  --color-primary: #3e6c4c;
  --color-primary-light: #5e946e;

  --color-filter-water: #65b3f4;
  --color-filter-water-light: #90c3ed;
  --color-filter-waste: #569fa2;
  --color-filter-waste-light: rgb(114, 166, 168);
  --color-filter-gift: #89c9e7;
  --color-filter-gift-light: #b3d5e5;
  --color-filter-tree: #4b8f4f;
  --color-filter-tree-light: #668b68;
  --color-filter-shop: #d5d446;
  --color-filter-shop-light: #cfcf80;
}
